---
---
{% include indexHeader.html url="https://www.maxwellcrafter.com/other/" %}
<script>
if(performance.navigation.type == 2){
   location.reload(true);
}
</script>
<script type="text/javascript">
<!--
	link = new Array;
  link[1] = "banana-pancakes";
  link[2] = "carrot_cake_1";
  link[3] = "carrot_cake_2";
-->
</script>
<!-- <a class="dir" id="clickable" href=ai-story aria-label="AI generated story">
C:\Users\Guest> AI generated story
</a>
<br> -->
<!-- <a class="dir" id="clickable" href=pi aria-label="1 million digits of PI. Just as a caution, this can be a bit annoying to read, especially so with a screenreader">
C:\Users\Guest> 1 million digits of PI
</a>
<br> -->
<!-- <a class="dir" id="clickable" href=projectsAndAdventures aria-label="MP&A">
C:\Users\Guest> MP&A
</a>
<br> -->
<a class="dir" id="clickable" href=externalSites aria-label="Other websites to visit">
C:\Users\Guest> Other cool websites to check out
</a>
<br>
<a class="dir" id="clickable" href="https://github.com/Maxwell-Fisher/maxwellcrafter.com" aria-label="Website source">
C:\Users\Guest> Website source
</a>
<!--
<br>
<noscript>
<a class="dir" id="clickable" href=banana-pancakes aria-label="AI generated banana pancake recipe">
C:\Users\Guest> AI generated banana pancake recipe
</a>
<br>
</noscript>
<script>
random_num = (Math.round((Math.random()*2)+1)); document.write("<a href=\"" + link[random_num] + "\" class=dir>C:\\Users\\Guest> AI generated recipe</a><br>");
</script> -->
{% include indexFooter.html %}
