---
---
{% include indexHeader.html url="https://www.maxwellcrafter.com/" %}
<style>
  .returnButton {
    display: none;
  }
</style>
<a class="dir" id="clickable" href=tech aria-label="Tech">
C:\Users\Guest> Tech
</a>
<br>
<a class="dir" id="clickable" href=posts aria-label="Posts">
C:\Users\Guest> Posts
</a>
<br>
<a class="dir" id="clickable" href=other aria-label="Stuff without a category">
C:\Users\Guest> Stuff without a category
</a>
<br>
<a class="dir" id="clickable" href=personalLinks aria-label="Personal links">
C:\Users\Guest> Personal links
</a>
{% include indexFooter.html %}
