---
---
{% include indexHeader.html url="https://www.maxwellcrafter.com/externalSites/" %}
<style>
  #htstem {
    text-shadow: 0 0 .5vw #5865F2;
  }
  #htstem:hover {
    color: #5865F2;
    text-shadow: none;
  }
  #foone {
    text-shadow: 0 0 .5vw #797979;
  }
  #foone:hover {
    color: #797979;
    text-shadow: none;
  }
  #qixils {
    text-shadow: 0 0 .5vw #FF66CC;
  }
  #qixils:hover {
    color: #FF66CC;
    text-shadow: none;
  }
  #notpike {
    text-shadow: 0 0 .5vw greenyellow;
  }
  #notpike:hover {
    color: greenyellow;
    text-shadow: none;
  }
  #nullfoo {
    text-shadow: 0 0 .5vw #ABCFB5;
  }
  #nullfoo:hover {
    color: #ABCFB5;
    text-shadow: none;
  }
  #nekiwo {
    text-shadow: 0 0 .5vw #45FFFF;
  }
  #nekiwo:hover {
    color: #45FFFF;
    text-shadow: none;
  }
  #dunkyl {
    text-shadow: 0 0 .5vw #4488FF;
  }
  #dunkyl:hover {
    color: #4488FF;
    text-shadow: none;
  }

</style>
<a class="dir" id="htstem" href=https://htstem.net aria-label="HTSTEM">
C:\Users\Guest> HTwins STEM+
</a>
<br>
<a class="dir" id="foone" href=https://wiki.foone.org aria-label="Foone Turing">
C:\Users\Guest> Foone Turing
</a>
<br>
<a class="dir" id="qixils" href=https://qixils.dev aria-label="qixils.dev">
C:\Users\Guest> qixils.dev
</a>
<br>
<a class="dir" id="notpike" href=https://bad-radio.solutions aria-label="Bad Radio Solutions">
C:\Users\Guest> Bad Radio Solutions
</a>
<br>
<a class="dir" id="nullfoo" href=https://nullfoo.me aria-label="NullFoo">
C:\Users\Guest> NullFoo
</a>
<br>
<a class="dir" id="nekiwo" href=https://nekiwo.dev aria-label="Nekiwo">
C:\Users\Guest> Nekiwo
</a>
<br>
<a class="dir" id="dunkyl" href=https://dunkyl.net aria-label="Dunkyl">
C:\Users\Guest> Dunkyl
</a>

{% include indexFooter.html %}
