<!DOCTYPE html>
<html lang="en">
<head>
<title>
{{ include.title }} - Maxwell Fisher technology 💾
</title>
<link rel="canonical" href="{{include.url}}" />
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="height=device-height">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="{{ include.title }} - Maxwellcrafter technology">
<meta name="keywords" content="{{ include.title }}, Maxwell Fisher, Maxwellcrafter">
<link rel="stylesheet" href="/index.css">
<link rel="stylesheet" href="/item.css">
</head>
<body>
<center>
<div id=javascript-enabled>
<h1>
{{ include.title }}
</h1>
<h3>
Maxwell Fisher - {{ include.date }}
</h3>
<br>
