---
---
{% include indexHeader.html url="https://www.maxwellcrafter.com/personalLinks" %}
<style>
  #github {
    text-shadow: 0 0 .5vw #6E5494;
  }
  #github:hover {
    color: #6E5494;
    text-shadow: none;
  }
  #linkedin {
    text-shadow: 0 0 .5vw #0077B5;
  }
  #linkedin:hover {
    color: #0077B5;
    text-shadow: none;
  }
  #instagram {
    text-shadow: 0 0 .5vw #D62976;
  }
  #instagram:hover {
    color: #D62976;
    text-shadow: none;
  }
  #mastodon {
    text-shadow: 0 0 .5vw #563ACC;
  }
  #mastodon:hover {
    color: #563ACC;
    text-shadow: none;
  }
  #youtube {
    text-shadow: 0 0 .5vw #C4302B;
  }
  #youtube:hover {
    color: #C4302B;
    text-shadow: none;
  }
</style>
<a class="dir" id="github" href=https://github.com/Maxwell-Fisher aria-label="GitHub">
C:\Users\Guest> GitHub (For projects like this)
</a>
<br>
<a class="dir" id="linkedin" href=https://www.linkedin.com/in/maxwellcrafter aria-label="LinkedIN">
C:\Users\Guest> LinkedIn (Hire me or something)
</a>
<br>
<a class="dir" id="instagram" href=https://instagram.com/maxwellcrafter aria-label="Instagram">
C:\Users\Guest> Instagram (I take photos too)
</a>
<br>
<a class="dir" id="mastodon" href=http://infosec.exchange/@Maxwellcrafter aria-label="Mastodon">
C:\Users\Guest> Mastodon (Come harass me)
</a>
<br>
<a class="dir" id="youtube" href=https://youtube.com/Maxwellcrafter aria-label="YouTube">
C:\Users\Guest> YouTube (Even more projects)
</a>

{% include indexFooter.html %}
